# pip install -U -r requirements.txt
# Should occasionally run without version numbers to try upgrading

# Code quality
black==21.6b0
flake8==3.9.2
isort==5.9.1
mypy==0.910
pre-commit==2.13.0

# pytest
pytest==6.2.4
pytest-cov==2.12.1

# Packaging
pyinstaller==4.3

# GUI
Kivy==2.0.0
pyenchant==3.2.1
